<% content_for :title, "Posts" %>
<div class="w-full min-h-screen bg-white dark:bg-[#242525]">
  <div class="flex justify-between items-center">
        
  </div>

  <div class="mx-auto max-w-4xl px-4 py-16 text-center">
    <h1 class="mb-4 text-4xl font-extrabold md:text-5xl dark:text-white">Posts</h1>
  </div>

  <div id="posts" class="mx-auto max-w-6xl space-y-10 px-4 py-12">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render partial: "post_preview", locals: { post: post } %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No posts found.</p>
    <% end %>
  </div>
</div>