<%= turbo_stream_from @post %>

<% content_for :title, "alplotlib | "+@post.title %>

<div class="w-full bg-white dark:bg-[#242525]">  

  <div class="flex gap-2 items-center justify-center pt-3">
    <% if authenticated? && @post.user == Current.user %>  
      <%= render "shared/primary_link_to", button_text: "Edit", button_path: edit_post_path(@post) %>
      <%= button_to "Destroy this post", @post, method: :delete, class: "text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
    <% end %>  
  </div>

  <%= render @post %>
</div>
